<h1>Admin</h1>

<form>
  <h2>Gugge</h2>
  <ng-container *ngFor="let team of (teams$ | async)">
    <input type="radio" name="team" [id]="'team' + team.id" [value]="team.id" (change)="onTeamChange($any($event.target).value)" />
    <label [for]="'team' + team.id">{{team.name}}</label>
    <br>
  </ng-container>

  <h2>Shot</h2>
  <ng-container *ngFor="let shot of (shots$ | async)">
    <input type="radio" name="shot" [id]="'shot' + shot.id" [value]="shot.id" (change)="onShotChange($any($event.target).value)" />
    <label [for]="'shot' + shot.id">{{shot.name}}</label>
    <br>
  </ng-container>

  <h2>Anzahl</h2>
  <input type="number" (change)="onAmountChange($any($event.target).value)" />
  <br>
  <br>

  <button type="button" (click)="submit()">Senden</button>
</form>
