<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/buechelgruebler.png" />
    <h1>Büchelgrübler Zunzgen</h1>
  </div>
  <div class="content">
    <img src="/assets/buechelgruebler-photo.jpg" />
    <div class="info-wrapper">
      <div>
        <h2>Gründungsjahr</h2>
        <h2>Anzahl Mitglieder</h2>
        <h2>Präsident</h2>
        <h2>Major</h2>
      </div>
      <div>
        <h2>1970</h2>
        <h2>54</h2>
        <h2>Lukas Bürgin</h2>
        <h2>Jonas Gysin</h2>
      </div>
    </div>
  </div>
</div>
