.wrapper {
  background-color: black;
  height: 100%;
  color: white;
  padding: 0 2vw;
}

.title-wrapper {
  display: flex;
}

h1 {
  margin: 0;
  padding: 3vh 0;
  font-size: 7vh;
  line-height: 7vh;
}

.logo {
  height: 12vh;
  margin: 1vh 2vw;
}

h2 {
  font-size: 4vh;
}

.content {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    width: 40vw;
  }
}

.info-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  column-gap: 3vw;
}
