<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/osb.svg" />
    <h1>Oktaväsumpfer Büsserach</h1>
  </div>
  <div class="content">
    <img src="/assets/oktavaesumpfer-photo.jpg" />
    <div class="info-wrapper">
      <div>
        <h2>Gründungsjahr</h2>
        <h2>Anzahl Mitglieder</h2>
        <h2>Präsident</h2>
        <h2>Major</h2>
      </div>
      <div>
        <h2>1986</h2>
        <h2>42</h2>
        <h2>Chrüsi</h2>
        <h2>Jan Roth</h2>
      </div>
    </div>
  </div>
</div>
