<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/lady-killers-logo.png" />
    <h1>Lady-Killers Laufen</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/lady-killers.jpg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Anzahl Mitglieder</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>25</h2>
          <h2>Manuel Halbeisen</h2>
        </div>
      </div>
    </div>
  </div>
</div>
