<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/birsgugger-logo.png" />
    <h1>Birsgugger Laufen</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/birsgugger.jpg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>1984</h2>
          <h2>38</h2>
          <h2>Samuel Aeschlimann</h2>
          <h2>Fabian Meier</h2>
        </div>
      </div>

      <h2>Mir fiire 40 Joor</h2>
    </div>
  </div>
</div>
