<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/laettguuger.png" />
    <h1>Lättguuger Winikon</h1>
  </div>
  <div class="content">
    <img src="/assets/laettguuger-photo.jpg" />
    <div class="info-wrapper">
      <div>
        <h2>Gründungsjahr</h2>
        <h2>Anzahl Mitglieder</h2>
        <h2>Präsident</h2>
        <h2>Major</h2>
      </div>
      <div>
        <h2>1975</h2>
        <h2>44</h2>
        <h2>Philippe Karrer</h2>
        <h2>Kilian Wicki</h2>
      </div>
    </div>
  </div>
</div>
