<app-birsgugger *ngIf="birsgugger$ | async"></app-birsgugger>
<app-bohneschraenzer *ngIf="bohneschraenzer$ | async"></app-bohneschraenzer>
<app-chaebber-pfludde *ngIf="chlaebberPfludde$ | async"></app-chaebber-pfludde>
<app-chrottae-schliffer *ngIf="chrottaeSchliffer$ | async"></app-chrottae-schliffer>
<app-donnerwaeschpi *ngIf="donnerwaeschpi$ | async"></app-donnerwaeschpi>
<app-fuedlichnuebler *ngIf="fuedlichnuebler$ | async"></app-fuedlichnuebler>
<app-hirzefaeger *ngIf="hirzefaeger$ | async"></app-hirzefaeger>
<app-lady-killers *ngIf="ladyKillers$ | async"></app-lady-killers>
<app-stritterae-wildsaeu *ngIf="stritteraeWildsaeu$ | async"></app-stritterae-wildsaeu>
<app-turboschnaeggae *ngIf="turboSchnaeggae$ | async"></app-turboschnaeggae>
