<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/chrottae-schliffer-logo.png" />
    <h1>Chrottä Schliffer Seebä</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/chrottae-schliffer.jpeg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>2016</h2>
          <h2>29</h2>
          <h2>Chantal Weber</h2>
          <h2>Roman Wolgemuth</h2>
        </div>
      </div>
    </div>
  </div>
</div>
