<div class="wrapper">
  <div class="title-wrapper">
    <!--<img class="logo" src="/assets/bands/turboschnaeggae.jpeg" />-->
    <h1>Turboschnäggä Erschbl</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/turboschnaeggae.jpeg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>1992</h2>
          <h2>38</h2>
          <h2>Jakob Signer</h2>
          <h2>Julia Bärtschi</h2>
        </div>
      </div>

      <h2>Mir si eh jungi, ufgstellti Guggenmusik usm wunderschöne Erschbl, wo viel Freud a dr Musig und am Fiire het!</h2>
    </div>
  </div>
</div>
