* {
  color: white;
}

.wrapper {
  height: 100%;
  background-color: black;
}

h1 {
  font-size: 7vh;
  margin: 0;
  padding: 2vw 3vw;
}

.timetable-wrapper {
  display: flex;
  column-gap: 5vw;
  height: 80vh;
  padding: 0 4vw;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .times-wrapper {
    flex: 1;
  }

  .events-wrapper {
    flex: 5;
  }

  .time {
    font-size: 8vh;
    text-align: right;

    > .mins {
      font-size: 5vh;
      position: relative;
      top: -2vh;
    }
  }

  .event {
    font-size: 8vh;
  }
}
