<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/osb.svg" />
    <h1>Programm</h1>
  </div>

  <div class="timetable-wrapper">
    <div class="times-wrapper">
      <div class="time">21<span class="mins">00</span></div>
      <div class="time">22<span class="mins">00</span></div>
      <div class="time">23<span class="mins">00</span></div>
      <div class="time">0<span class="mins">00</span></div>
      <div class="time">1<span class="mins">00</span></div>
    </div>
    <div class="events-wrapper">
      <div class="event">Lättgugger Winikon</div>
      <div class="event">Hirzefäger Breitenbach</div>
      <div class="event">Oktaväsumpfer Büsserach</div>
      <div class="event">Büchelgrübler Zunzgen</div>
      <div class="event">Birsgugger Laufen</div>
    </div>
  </div>
</div>
