<div class="wrapper">
  <h1>Programm</h1>

  <div class="timetable-wrapper">
    <div class="times-wrapper">
      <div class="time">10<span class="mins">00</span></div>
      <div class="time">10<span class="mins">30</span></div>
      <div class="time">11<span class="mins">00</span></div>
      <div class="time">11<span class="mins">30</span></div>
      <div class="time">12<span class="mins">00</span></div>
    </div>
    <div class="events-wrapper">
      <div class="event">Birsgugger Laufen</div>
      <div class="event">Lättgugger Winikon</div>
      <div class="event">Oktaväsumpfer Büsserach</div>
      <div class="event">Büchelgrübler Zunzgen</div>
      <div class="event">Hirzefäger Breitenbach</div>
    </div>
  </div>
</div>
