<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/stritterae-wildsaeu-logo.gif" />
    <h1>Stritterä Wildsäu Gringel</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/stritterae-wildsaeu.JPG" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>2008</h2>
          <h2>30</h2>
          <h2>Tanja Borer</h2>
          <h2>Dominik Borer</h2>
        </div>
      </div>

      <h2>Mir si e cheibe glatte Huffe 😊</h2>
    </div>
  </div>
</div>
