<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/fuedlichnuebler-logo.jpg" />
    <h1>Füdlichnübler Wangen ZH</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/fuedlichnuebler.jpeg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>1974</h2>
          <h2>28</h2>
          <h2>Sinja Ferst</h2>
          <h2>Dominik Ehrle</h2>
        </div>
      </div>

      <h2>Oisi Chnüblete (tolls Fäscht)<br>findet immer die Vorfasnacht statt<br>das Jahr am 23.11.2024</h2>
    </div>
  </div>
</div>
