<app-overview [hidden]="(slide$ | async) !== Slide.OVERVIEW"></app-overview>
<div class="wrapper" [hidden]="(slide$ | async) === Slide.OVERVIEW">
  <app-program [hidden]="(slide$ | async) !== Slide.PROGRAM"></app-program>
  <app-birsgugger [hidden]="(slide$ | async) !== Slide.BIRSGUGGER"></app-birsgugger>
  <app-buechelgruebler [hidden]="(slide$ | async) !== Slide.BUECHELGRUEBLER"></app-buechelgruebler>
  <app-hirzefaeger [hidden]="(slide$ | async) !== Slide.HIRZEFAEGER"></app-hirzefaeger>
  <app-laettguuger [hidden]="(slide$ | async) !== Slide.LAETTGUUGER"></app-laettguuger>
  <app-oktavaesumpfer [hidden]="(slide$ | async) !== Slide.OKTAVAESUMPFER"></app-oktavaesumpfer>
</div>
