<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/bands/hirzefaeger-logo.png" />
    <h1>Hirzefäger Breitenbach</h1>
  </div>
  <div class="content">
    <img src="/assets/bands/hirzefaeger.jpg" />
    <div class="panel-wrapper">
      <div class="info-wrapper">
        <div>
          <h2>Gründungsjahr</h2>
          <h2>Anzahl Mitglieder</h2>
          <h2>Präsident</h2>
          <h2>Major</h2>
        </div>
        <div>
          <h2>1980</h2>
          <h2>43</h2>
          <h2>Oliver Roth</h2>
          <h2>Sebastian Schmid</h2>
        </div>
      </div>

      <h2>Hilari im Januar</h2>
    </div>
  </div>
</div>
