<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/hirzefaeger.png" />
    <h1>Hirzefäger Breitenbach</h1>
  </div>
  <div class="content">
    <img src="/assets/hirzefaeger-photo.png" />
    <div class="info-wrapper">
      <div>
        <h2>Gründungsjahr</h2>
        <h2>Anzahl Mitglieder</h2>
        <h2>Präsident</h2>
        <h2>Major</h2>
      </div>
      <div>
        <h2>1980</h2>
        <h2>39</h2>
        <h2>Oliver Roth</h2>
        <h2>Sebastian Schmid</h2>
      </div>
    </div>
  </div>
</div>
