<div class="wrapper">
  <div class="title-wrapper">
    <img class="logo" src="/assets/osb.svg" />
    <h1> Schöttli-Challenge</h1>
  </div>

  <div class="score-wrapper">
    <div class="team-list">
      <h2 *ngFor="let team of (sortedTeams$ | async)">{{team.name}}</h2>
    </div>
    <div class="scores">
      <div *ngFor="let score of (scores$ | async)" class="score" [style.width]="(score.percentage || 0) + '%'">
        <span class="score-value">{{score.score}}</span>
      </div>
      <div class="steps">
        <div *ngFor="let step of (steps$ | async)" class="step-wrapper">
          <span>
            <span class="step">{{step}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <h2 class="title">Schöttli-Kurse</h2>
  <div class="rate-wrapper">
    <div class="rate" *ngFor="let rate of (sortedRates$ | async)">
      <h3>{{rate.name}}: {{rate.rate}}</h3>
    </div>
  </div>
</div>
