.wrapper {
  background-color: black;
  height: 100%;
  color: white;
  padding: 0 2vw;
}

.title-wrapper {
  display: flex;
}

h1 {
  margin: 0;
  padding: 3vh 0;
  font-size: 7vh;
  line-height: 7vh;
}

.logo {
  height: 12vh;
  margin: 1vh 2vw;
}

.score-wrapper {
  display: flex;
  margin-bottom: 4vh;
  overflow: hidden;
}

.scores {
  flex: 1;
  padding: 0 3vw 0 0;
}

h2 {
  font-size: 5vh;
  margin: 1vh 2vw;
  line-height: 5vh;
  display: flex;
  flex-direction: column;

  &.title {
    font-size: 4vh;
    margin-left: 2vw;
  }

  span.small {
    font-size: 3vh;
    line-height: 3vh;
  }
}

h3 {
  font-size: 4vh;
  margin: .5vh 1vw;
  font-weight: normal;
}

.score {
  height: 8vh;
  margin: 1vh 0;
  background-color: blue;
  position: relative;

  .score-value {
    position: relative;
    left: calc(100% + .5vw);
    font-size: 4vh;
    top: 2vh;
  }
}

.steps {
  padding-top: .5vh;
  overflow: visible;
  white-space: nowrap;

  * {
    width: 25%;
  }

  *:not(:last-child) {
    border-top: .2vh solid white;
  }

  .step-wrapper {
    display: inline-block;
    text-align: center;
  }

  .step {
    position: relative;
    left: -50%;
    font-size: 3vh;
  }

  .step-wrapper::before {
    display: block;
    content: ' ';
    position: relative;
    border-left: .2vh solid white;
    width: 0;
    height: 1vh;
    top: -1vh;
  }
}

.rate-wrapper {
  display: flex;
  flex-direction: column;

  .rate {
    min-width: 1vw;
  }
}
